@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Gochi+Hand&family=Nothing+You+Could+Do&display=swap');

/* Start of Grid */
@media only screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600px */
    }
    
    * {
        box-sizing: border-box;
    }

    nav {
        grid-area: n;
    }
    header {
        grid-area: h;
    }
    main {
        grid-area: m;
    }
    aside {
        grid-area: a;
    }
    footer {
        grid-area: f;
    }

#background {
    display: grid;
    grid-template:
    "n "
    "h "
    "m"   
    "a"     
    "f";
}
/* End of Grid */

/* Start of Media Query */
@media (min-width: 38em) {
    #background {
       grid-template:
     " n   n "
     " h   h "
     " m   m "
     " a   a "
     " f   f "
     / 50% 50%;
    }
}
 @media (min-width: 65em) {
    nav ul {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       }
    #background {
        grid-template:
       " n   n   n"
       " h   h   h"
       " m   m   m"
       " a   a   a"
       " f   f   f"
       / 1fr 1fr 1fr;
       }
}

*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100vh;
    background-color: rgb(144, 210, 253);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* background-repeat: no-repeat; */
}
#background {
    width: 100%;
    height: 100vh;
    background-color: rgb(144, 210, 253);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* background-repeat: no-repeat; */
}
#hero-content {
    margin-top: 50px;
    /* margin-bottom: 20px; */
    /* display: flex;
    align-self: center;    
    justify-content: center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* padding: 40px; */
}
/* #wrapper {
    width: 100%;
    overflow: hidden;
} */
#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* .banner-img {
    width: 100%;
} */
.home-img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
}
main {
    margin-top: 90px;
}
h2{
    font-family: "Bebas Neue", helvetica, arial;
    font-size: 30px;
    font-weight: 40;
    font-style: normal;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;

}
button {
    cursor: pointer;
}

/* Navigation */
nav {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a:active {
    color: rgb(177, 13, 13)
}
.list {
    list-style-type: none;
    position: absolute;
    top: 50px;
    right: 50px;
    color: rgb(0, 0, 0);
}
.home {
    list-style-type: none;
    position: absolute;
    top: 50px;
    right: 120px;
    color: rgb(0, 0, 0);
}
.header {
    list-style-type: none;
    /* font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(2, 2, 92); */
    position: absolute;
    top: 40px;
    left: 50px;  
}
nav a {
    text-decoration: none;
    /* font-weight: bold; */
    color: black;
}
nav a:link {
    color: #412a07;
}

nav a:hover {
    color: #929292;
    text-decoration: underline;
}

nav a:visited {
    color: #3c2400;
}


aside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
h3{
    color: rgb(253, 36, 36);
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 30px;
}
.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 50px; */
    margin-bottom: 80px;
    margin-top: 20px;

}
#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-right: 50px; */
}
#email-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 25px;
}
#password-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 25px;
}
#signupbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    cursor: pointer;
}
#signupbutton:hover {
    background-color: #c1c1c1;
}
#passcheckbox {
    display: flex;
    justify-content: center;
    align-self: center;
}
#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
}
#viewpass {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 15px;
}

/* Footer */
footer {
    font-family: helvetica, sans-serif, 'times new roman';
    font-size: small;
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height:30px;

}

.footerbox {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}