@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Gochi+Hand&family=Nothing+You+Could+Do&display=swap');


/* Start of Grid */
@media only screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600px */
    }
    
    * {
        box-sizing: border-box;
    }

    nav {
        grid-area: n;
    }
    main {
        grid-area: m;
    }
    footer {
        grid-area: f;
    }

#background {
    display: grid;
    grid-template:
    "n"
    "m"        
    "f";
}
/* End of Grid */

/* Start of Media Query */
@media (min-width: 38em) {
    #background {
       grid-template:
     " n   n "
     " m   m "
     " f   f "
     / 50% 50%;
    }
}
 @media (min-width: 65em) {
    .nav-ul {
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       }
    #background {
        grid-template:
       " n   n   n"
       " m   m   m"
       " f   f   f"
       / 1fr 1fr 1fr;
       }
}
/* End of Media Query */

*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100vh;
    background-color: rgb(144, 210, 253);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
main {
    /* forces the footer to stay at the bottom of the page */
    flex: 1; 
}
#background {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(144, 210, 253);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    cursor: pointer;
}

/* Navigation */
.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home {
    list-style-type: none;
    position: absolute;
    top: 70px;
    right: 140px;
    color: rgb(0, 0, 0);
}
.list {
    list-style-type: none;
    position: absolute;
    top: 120px;
    right: 150px;
    color: rgb(0, 0, 0);
}
.contact {
    list-style-type: none;
    position: absolute;
    top: 170px;
    right: 132px;
    color: rgb(0, 0, 0);
}
.header {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:link {
    color: #412a07;
}

nav a:hover {
    color: #929292;
    text-decoration: underline;
}

nav a:visited {
    color: #3c2400;
}

nav a:active {
    color: rgb(177, 13, 13)
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: rgba(212, 223, 250, 0.60);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
#hidesidebar {
    position: absolute;
    right: 20px;
    margin-top: 15px;
    background-color: #edeef000;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
#hidesidebar img:hover {
    background-color: #dfdfdf;
    border-radius: 10px;
}
#showsidebar {
    position: absolute;
    top: 40px;
    left: 40px;
    color: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
#showsidebar button{
    list-style-type: none;
}


/* Main Planner List */
.container {
    padding: 0;
    display: flex;
    justify-content: center;
}
.toPlan {
    width: 400px;
    margin-top: 100px;
}
.toPlan h2{
    font-family: "Caveat", cursive;
    font-size: 40px;
    font-weight: bold;
    color: #002765;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 30px;
}
#disclaimer {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 130px;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #edeef0;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#add-plan-button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #fb1d1d;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}
#add-plan-button:hover {
    background: #c61717;
}
.input-li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.input-span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}
.input-span:hover{
    background: #edeef0a3;
}

.input-li.checked{
    color: #565663;
    text-decoration: line-through;
    
}
/* End of Main Planner List */

/* Main Gallery Time */
#box-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 30px;
}
#gallery-time {
    font-family: "Caveat", cursive;
    font-size: 40px;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #002765;
    font-size: 30px;
}
#add-box-button {
    border: none;
    outline: none;
    width: 180px;
    height: 30px;
    background: #fb1d1d;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;

}
.drop-area {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    width: 280px;
    height: 300px;
    display: inline-block;
    position: relative;
    background-color: #ffffffbd;
    border-radius: 10px;
}
.drop-area img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.drop-area p {
    font-size: 15px;
    position: relative;
    top: 50px;
}

.span-text{
    font-size: 12px;
    position: relative;
    top: 55px;
}
input[type="file"] {
    display: none;
}
.close-button {
    position: absolute;
    cursor: pointer;
    right: 6px;
    top: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    color: #000000;
    font-weight: bolder;
    line-height: 20px;
    font-size: 20px;
}
.close-button:hover{
    background: #b4b5b5a3;
}
/* End of Main Gallery Time */


/* Footer */
footer {
    font-family: helvetica, sans-serif, 'times new roman';
    font-size: small;
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:30px;

}

.footerbox {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}