/* Start of Grid */
/* @media only screen and (max-width: 600px) { */
    /* CSS rules for screens with a maximum width of 600px */
    /* }
    
    * {
        box-sizing: border-box;
    }

    nav {
        grid-area: n;
    }
    header {
        grid-area: h;
    }
    main {
        grid-area: m;
    }
     aside {
        grid-area: a;
     }
    footer {
        grid-area: f;
    } */

/* #background {
    display: grid;
    grid-template:
    "n"
    "h"
    "a"
    "m"        
    "f";
} */
/* End of Grid */

/* Start of Media Query */
/* @media (min-width: 38em) {
    #background {
       grid-template:
     " n   n "
     " h   h "
     " m   a "
     " m   a "
     " f   f "
     / 50% 50%;
    }
}
 @media (min-width: 65em) {
    nav ul {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       }
    #background {
        grid-template:
       " n   n   n"
       " h   h   h"
       " m   m   a"
       " f   f   f"
       / 150px 1fr 10%;
       }
}
@media (max-width: 768px) {
    .hero {
     height: 50vh;
    }
} */
/* End of Media Query */

*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(100deg, rgb(98, 192, 255), rgb(229, 246, 255));
    margin: 0;
}
main{
    /* flex: 80%; */
    margin-left: 20px

}
/* nav {
    width: 260px;
    height: 100%;
    margin-right: 10;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

} */
nav {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    height: 40px;
    left: 0;
    
}
/* nav ul{
    width: 30px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
nav li{
    height: 30px;
    padding: 0;
    margin-right: 0;
} */
/* nav a {
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
}
nav a:hover {
    background-color: rgb(237, 236, 236);
}
.navbar li:first-child{
    margin-right: auto;
} */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(212, 223, 250, 0.60);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/* #deletebtn{
    margin-top: 60px;
    margin-left: 5px;
    width: 30px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color:  #f8faffd4;
    
}
#deletebtn:hover{
    background-color: #dfdfdf;
    border-radius: 10px;
} */
#hidesidebar {
    position: absolute;
    right: 20px;
    margin-top: 15px;
    background-color: #edeef0d4;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hidesidebar img:hover {
    background-color: #dfdfdf;
    border-radius: 10px;
}

#showsidebar {
    position: absolute;
    top: 20px;
    left: 40px;
    color: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
#showsidebar button{
    list-style-type: none;
}
#sb-Plan-Button {
    /* margin-right: 30px; */
    margin-left: 15px;
    margin-top: 60px;
    width: 215px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #f8faffd4;
    font-size: 15px;
    cursor: pointer;
}
/* #sb-Plan-Button img{
    position: absolute;
    right: 95px;
} */
#sb-Plan-Button:hover{
    background-color: #dfdfdf;
    border-radius: 10px;
}
/* .memoryplans button {
    margin-right: 5px;
    margin-left: 13px;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #f8faffd4;
    font-size: 15px;
    cursor: pointer;
} */
#title-input {
    /* margin-right: 5px; */
    position: absolute;
    top: 22px;
    left: 16px;
    width: 138px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #f8faffd4;
    font-size: 15px;
    text-align: center;
}
#enterbtn {
    position: absolute;
    top: 22px;
    left: 120px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    /* background-color: #f8faffd4; */
    font-size: 15px;
    cursor: pointer;
}
#enterbtn:hover {
    background-color:  #dfdfdf;
    border-radius: 10px;
    width: 35px;
    height: 35px;
}
#editbtn {
    position: absolute;
    top: 22px;
    left: 160px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #f8faffd4;
    font-size: 15px;
    cursor: pointer;
}
#editbtn:hover {
    background-color:  #dfdfdf;
    border-radius: 10px;
    width: 35px;
    height: 35px;
}
#deletebtn {
    position: absolute;
    top: 22px;
    left: 200px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #f8faffd4;
    font-size: 15px;
    cursor: pointer;
}
#deletebtn:hover {
    background-color:  #dfdfdf;
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

/* #background{
    flex: 80%;
    margin-left: 20px

} */

/* *{
    margin: 0;

    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
} */

.container {
    /* width: 500px; */
    /* min-height: 100vh; */
    /* background: linear-gradient(100deg, rgb(98, 192, 255), rgb(229, 246, 255)); */
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* plan bar */
.toPlan {
    width: 400px;
    /* max-width: 540px;
    background: #fff; */
    margin-left: 50px;
    margin-top: 50px;
    /* padding: 40px 30px 70px;
    border-radius: 10px; */
}
.toPlan h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
#disclaimer {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 130px;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #edeef0;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#add-plan-button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #fb1d1d;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}
#add-plan-button:hover {
    background: #c61717;
}
ul li{
    /* list-style: decimal; */
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}
ul li span:hover{
    background: #edeef0a3;
}

ul li.checked{
    color: #565663;
    text-decoration: line-through;
    
}

/* Drag and drop mage */
/* .hero { */
    /* margin-bottom: 40px;
    margin-right: 40px; */
    /* margin-top: 300px;
    margin-left: 60px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.hero-2 { */
    /* margin-bottom: 40px;
    margin-right: 40px; */
    /* margin-top: 0;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#drop-area {
    width: 250px;
    height: 300px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 10px;

}
#input-file{
    display: none;
}
#img-view {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
    
}
#img-view img{
    width: 100px;
    margin-top: 25px;
}
#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
} */


/* try out */
/* aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
} */
/* should be in main */
#box-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}
#add-box-button {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    border: none;
    outline: none;
    background: #fefefe;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    /* width: 20px;
    height: 10px; */
    position: absolute;
    right: 20px;
}
.drop-area {
    border: 2px dashed #c1c1c1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    width: 280px;
    height: 300px;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}
.drop-area img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}

.drop-area p {
    font-size: 15px;
}
.drop-area span {
    font-size: 12px;
}
input[type="file"] {
    display: none;
}
.close-button {
    /* display: flex;
    justify-content: flex-end; */
    position: absolute;
    cursor: pointer;
    right: 6px;
    top: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    color: #000000;
    font-weight: bolder;
    line-height: 20px;
}
.close-button:hover{
    background: #b4b5b5a3;
}



/* Footer */
/* footer {
    font-family: helvetica, sans-serif, 'times new roman';
    font-size: small;
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footerbox {
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: baseline;
} */